html
        head 
                title= pageTitle 
                body 
                        h1= text 
                        table 
                                thead 
                                        tr 
                                                th Id
                                                th Name
                                                th Visits
                                tfoot 
                                tbody 
                                        each visitor in visitors 
                                                tr 
                                                        td= visitor.id 
                                                        td= visitor.name 
                                                        td= visitor.count